
/* ============ COMMON =============== */

body {
    width: 100%;
}

.game-table {
    width: 80%;
}

#container h1 {
    margin: 10px;
}

#game {
    margin: 10px;
}

/* ================ PLAYER ============== */

.player {
    float: left;
    width: 49%;
}

.player th, .player tr  {
    text-align: left;
}

/* ================ ENEMY ============== */

.enemy {
    float: right;
    width: 49%;
}

.enemy .game-table {
    float: right;
}

.enemy th,
.enemy tr,
.enemy p,
.enemy h2 {
    text-align: right;
}

/* =============== POPUP =============== */

#popup {
    width: 960px;
    height: 576px;
    background-image: url("../img/popup.jpg");
    margin:40px auto 0px auto;
}

#popup-holder {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    display: none;
}

#popup-holder i.close {
    float: right;
    margin-right: 14px;
    margin-top: 12px;
    color: #c6c6c6;
}

#popup-holder i.close:hover {
    color: #ffffff;
    cursor: pointer;
}

#cards-holder {
    margin: 20px 10px 0px 10px;
    position: relative;
    display: inline-block;
    width: 940px;
    height: 516px;
    overflow-y: scroll;
}

/* ============== BUTTONS ============= */

.button {
    width: 45px;
    height: 49px;
    background-image: url("../img/btn.png");
	display:inline-block;
}
.button:hover {
	cursor: pointer;
}
.button:active {
	position:relative;
	top:1px;
}

