

/* ============ COMMON =============== */

html {
    background: url('../img/brick.jpg');
}


body {
    width: 100%;
    color: #ffffff;
    font-family: 'Linden Hill', 'serif';
    font-size: 1.1em;
}

.game-table {
    width: 95%;
}

#container h1 {
    margin: 10px;
}

#game {
    margin: 10px;
}

.menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 300px;
    min-height: 500px;
    background-color: #85675B;
    border-radius: 8px;
    border: 6px solid #4F3E37;
}

.menu > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.menu > .buttons {
    margin-top: 80px;
}

/* ================ PLAYER ============== */

.player {
    float: left;
    width: 49%;
}

.player th, .player tr  {
    text-align: left;
}

/* ================ ENEMY ============== */

.enemy {
    float: right;
    width: 49%;
}

.enemy .game-table {
    float: right;
}

.enemy th,
.enemy tr,
.enemy p,
.enemy h2 {
    text-align: right;
}

/* =============== POPUP =============== */

#popup {
    width: 960px;
    height: 576px;
    background-image: url("../img/popup.jpg");
    margin:40px auto 0px auto;
}

#popup-holder {
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0;
    display: none;
}

#popup-holder i.close {
    float: right;
    margin-right: 14px;
    margin-top: 12px;
    color: #c6c6c6;
}

#popup-holder i.close:hover {
    color: #ffffff;
    cursor: pointer;
}

#cards-holder {
    margin: 20px 10px 0px 10px;
    position: relative;
    display: inline-block;
    width: 940px;
    height: 516px;
    overflow-y: scroll;
}

/* ============== BUTTONS ============= */

.button {
    width: 45px;
    height: 49px;
    background-image: url("../img/btn.png");
	display:block;
    verticle-align: bottom;
}

.button:hover,
.button-long:hover {
	cursor: pointer;
}

.button:active,
.button-long:active{
	position:relative;
	top:1px;
}
.button > [class^="icon-"],
.button > [class*=" icon-"] {
    font-size: 35px;
    margin-left: 4px;
    margin-top: 5px;
}

.button-long {
    width: 190px;
    height: 49px;
    background-image: url("../img/btnlong.png");
	display:block;
    color: #ffffff;
    vertical-align: text-bottom;
    text-align: center;
    font-size: 26px;
    font-family: 'Linden Hill', 'serif';
    font-style: italic;
    text-decoration: none;
    line-height: 49px;
}

.button-long > span {
    margin-top: 5px;
}

/* ============= SLOTS ================ */

.slot {
    display: block;
    width: 97%;
    min-height: 100px;
    margin: 10px;
    background-color: #4F3E37;
    border-radius: 8px;
    border: 6px solid #85675B;
}

.slot > * {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #85675B;
}

.slot > .info > * {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.slot .right {
    float: right;
}

.slot > .lambda > pre {
    width: 430px;
}

.slot > .lambda > * {
    margin: 1px;
}

.slot > .info > p {
    font-size: 26px;
}

.health {
    background-color: rgba(242, 85, 61, 0.64);
    border-radius: 20px;
    text-align: center;
    font-size: 26px;
}

.applicable-term > a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    cursor: pointer;
}

input {
    color: #333333;
}

.login-form {
    margin-top: 10%;
    width: 100%;
    text-align: center;
}

.login-form > form{
    display: inline-block;
}

.login-form > * {
    font-size: 30px;
}

.form-button {
    display: block;
    margin-top: 3px;
}
