/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("../fonts/fontcustom.eot");
  src: url("../fonts/fontcustom.eot?#iefix") format("embedded-opentype"),
       url("../fonts/fontcustom.woff") format("woff"),
       url("../fonts/fontcustom.ttf") format("truetype"),
       url("../fonts/fontcustom.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("../fonts/fontcustom.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-angel:before,
.icon-birds:before,
.icon-card:before,
.icon-clone:before,
.icon-egg:before,
.icon-get:before,
.icon-hatching:before,
.icon-leaf-cycle:before,
.icon-lifecycle:before,
.icon-medicine:before,
.icon-poison:before,
.icon-put:before,
.icon-seed:before,
.icon-stork:before,
.icon-sword:before,
.icon-tree-mirror:before,
.icon-trees:before,
.icon-zombie:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-angel:before { content: "\f101"; }
.icon-birds:before { content: "\f102"; }
.icon-card:before { content: "\f114"; }
.icon-clone:before { content: "\f103"; }
.icon-egg:before { content: "\f105"; }
.icon-get:before { content: "\f106"; }
.icon-hatching:before { content: "\f107"; }
.icon-leaf-cycle:before { content: "\f108"; }
.icon-lifecycle:before { content: "\f109"; }
.icon-medicine:before { content: "\f10a"; }
.icon-poison:before { content: "\f10c"; }
.icon-put:before { content: "\f10d"; }
.icon-seed:before { content: "\f10f"; }
.icon-stork:before { content: "\f100"; }
.icon-sword:before { content: "\f110"; }
.icon-tree-mirror:before { content: "\f111"; }
.icon-trees:before { content: "\f112"; }
.icon-zombie:before { content: "\f113"; }
