{% load staticfiles %}
{% load compressed %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static "js/lib/react.js" %}"></script>
        <script src="{% static "js/lib/JSXTransformer.js" %}"></script>
        <script src="{% static "js/lib/jquery-2.1.0.js" %}"></script>
        <script src="{% static "js/lib/underscore.js" %}"></script>
        <script src="{% static "js/lib/promise-4.0.0.js" %}"></script>
        <script src="{% static "js/lib/prism.js" %}"></script>

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Linden+Hill:400,400italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/fontcustom.css" %}">
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <link rel="stylesheet" href="{% static "css/prism.css" %}">
        <link rel="stylesheet" href="{% static "css/card.css" %}">
    </head>
    <body>
        <div id="container">
            <h1>LGT</h1>
            <div style="display: none"  class="game-id" data-game-id="{{ game.id }}"></div>
            <div id="game">
            </div>

            <div id="popup-holder">

                <div id="popup">
                    <i class="fa fa-times close"></i>
                    <div id="cards-holder"><div id="cards"></div></div>
                </div>
            </div>

            <script type="application/javascript">
                $(document).ready(function() {
                    $('#popup').find('> .close').click(function(e) {
                        $('#popup-holder').hide();
                    });
                });
            </script>

            {% compressed_js 'browserify' %}
        </div>
    </body>
</html>
