{% extends "app/base.html" %}
{% load staticfiles %}
{% load compressed %}

{% block scripts %}
    <script src="{% static "js/lib/react.js" %}"></script>
    <script src="{% static "js/lib/JSXTransformer.js" %}"></script>
    <script src="{% static "js/lib/jquery-2.1.0.js" %}"></script>
    <script src="{% static "js/lib/underscore.js" %}"></script>
    <script src="{% static "js/lib/promise-4.0.0.js" %}"></script>
    <script src="{% static "js/lib/prism.js" %}"></script>
{% endblock scripts %}

{% block top %}
{% endblock %}

{% block content %}
    <h1>LGT</h1>
    <div style="display: none"  class="game-id" data-game-id="{{ game.id }}"></div>
    <div id="game">
    </div>

    <div id="popup-holder">

        <div id="popup">
            <i class="fa fa-times close"></i>
            <div id="cards-holder"><div id="cards"></div></div>
        </div>
    </div>

    <script type="application/javascript">
        $(document).ready(function() {
            $('#popup').find('> .close').click(function(e) {
                $('#popup-holder').hide();
            });
        });
    </script>

    {% compressed_js 'browserify' %}
{% endblock %}
