{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock title %}</title>

        {% block styles %}
        <link rel="stylesheet" href="{% static "css/fontcustom.css" %}">
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/app.css" %}">
        <link rel="stylesheet" href="{% static "css/prism.css" %}">
        <link rel="stylesheet" href="{% static "css/card.css" %}">
        {% endblock styles %}

        {% block scripts %}
        {% endblock scripts %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Spirax' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Linden+Hill:400,400italic' rel='stylesheet' type='text/css'>

    </head>
    <body>
        <div id="container">
            {% block top %}
            {% comment %}
            {% if request.user.is_authenticated %}
            <a href="{% url 'django.contrib.auth.views.logout' %}">logout</a><br/>
            <a href="{% url 'games.views.new_game' %}">new game</a>
            {% else %}
            <a href="{% url 'django.contrib.auth.views.login' %}">login</a>
            {% endif %}
            <form style="display: none;" id="empty-form" method="POST">
            {% csrf_token %}
            </form>
            {%  endcomment %}
            {% endblock %}

            {% block content %}
            {% endblock content  %}
        </div>
    </body>
</html>

